@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bahnschrift', sans-serif;
  color: #191919;
}

html {
  scroll-behavior: smooth;
}

$colors :(
  noir:#1b1c1e,
  gris:grey,
  primary:#4f7059,
  secondary:#f0e7e0,
  blanc: #FDF6F8,
  fond :#4f705975,
  fond_01 :#ffffff83,
);

$border-height : 1px;

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$desktop :800px;

@mixin desktop {
  @media (min-width : #{$desktop}) {
    @content;
  }
}

// ! -------------------------HEADER-------------------------

header {
  display: flex;
  flex-direction: row;
  width :100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 3;
  top: 0;

  .navbar {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    .navbar__logo {
      width: 28%;
      display: flex;
      align-items: center;

      img {
        width: 50%;
      }
    }

    .navbar__links{
      width: 35%;
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        margin: 20px;
        color: color(noir);
        font-size: 20px;

        a {
          text-decoration: none;
        }
     }
    }

    .options {
      width: 28%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;

      .icones {
        display: flex;
        flex-direction: row;
        width: 65%;
        justify-content: space-between;
        align-items: center;

        .logo {
          height: 30px;
        }   
        
        #toggle{
          position: relative;
          display: block;
          width: 80px;
          height: 40px;
          border-radius: 160px;
          background: #FFF;
          transition: 0.2s;
          box-shadow: inset 0 6px 60px rgba(0, 0, 0, 0.1),
                      inset 0 2px 8px rgba(0, 0, 0, 0.1),
                      inset 0 4px 4px rgba(0, 0, 0, 0.1);
        }

        #toggle.active{ 
          background: #222;
          box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                      inset 0 8px 8px rgba(0, 0, 0, 0.1),
                      inset 0 4px 4px rgba(0, 0, 0, 0.05);
        }

        #toggle .indicator{
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          transform: scale(0.9);
          background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                      inset 0 4px 4px rgba(255, 255, 255, 1),
                      inset 0 4px 4px rgba(255, 255, 255, 1);
          transition: 0.5s;
          background: url("../images/moon-outline.svg");
          background-size: 30px;
          background-repeat: no-repeat;
          background-position: center;
        }

        #toggle.active .indicator{
          left: 40px;
          background: linear-gradient(to bottom, #444, #222);
          box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                      inset 0 4px 4px rgba(255, 255, 255, 0.2),
                      inset 0 4px 4px rgba(255, 255, 255, 0.2);
          background: url("../images/sun.png");
          background-size: 90px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

    }

  }
}

// ! -------------------------HEADER-------------------------
// * -------------------------HOME-------------------------

main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .fond {
    position: absolute;
    z-index: -1;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    .haut {
      margin-top: 10vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 90vh;

      .gauche {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        align-items: center;

        .carte {
          display: flex;
          flex-direction: column;

          .lien {
            display:  flex;
            flex-direction: row;

            h2 {
              font-size: 30px;
              
              span {
                color: color(primary);
                font-family: 'Grape Nuts', cursive;
                font-size: 35px;
                font-weight: 100;
              }
            }

            img {
              width: 25%;
              transform: rotate(10deg);
            }
          }

          .food {
            width: 90%;
            border: color(noir) $border-height solid;
            border-radius: 50% 50% 0 0;
          }

          .food:nth-child(2) {
            width: 90%;
            border: color(noir) $border-height solid;
            border-radius:0 0 50% 50% ;
          }
        }

        .carte:nth-child(2) {
          display: flex;
          flex-direction: column;

          .lien {
            display:  flex;
            flex-direction: row;

            img {
              width: 25%;
              transform: rotateX(180deg) rotate(10deg);
            }
          }
        }
      }

      .droite {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;

        .titre {
          position: relative;
          top: 40%;
          left: -20%;

          .circle {
            width: 250px;
            height: 250px;
            background: color(primary);
            position: absolute;
            border-radius: 50%;
            z-index: -1;
            top: -29vh;
            left: -15vh;
          }

          h2 {
            transform: rotate(-25deg);
            position: absolute;
            font-size: 50px;
            margin-top: -50px;
            margin-left: -70px;
          }

          h3 {
            font-family: 'Grape Nuts', cursive;
            font-size: 50px;
            font-weight: 100;
          }
        }

        p {
          font-size: 20px;
          width: 80%;
          margin-top: 60%;
          margin-left: 25%;
        }
      }

    }

    .bas {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 90vh;

      .gauche {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;

        h1 {
          transform: rotate(-10deg);
          font-size: 50px;

          span{
            font-family: 'Grape Nuts', cursive;
            color: color(noir);
            background: color(secondary);
            padding: 0.25rem 2rem;
            font-weight: 100;
          }
        }

        .circle{
          width: 250px;
          height: 250px;
          background: color(primary);
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          margin-top: 4%;
          margin-left: -3%;
       }

        .txt {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-right: color(noir) 2px solid;
          padding-right: 20%;

          p {
            font-size: 20px;
            margin-top: 20%;
          }

          h4 {
            font-size: 20px;
            margin-top: 20px;
            text-decoration: underline;
          }
        }
      }

      .droite {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .carte{
          width: 40%;
          margin: auto;
          
          img{
            width: 100%;
            border: color(secondary) 12px solid;
         }

         .description{
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          b{
            background: color(secondary);
            padding: 0.75rem 2rem;
            border-radius: 50%;
            font-size: 40px;
            font-family: 'Grape Nuts', cursive;
            color: color(noir);
         }

         p{
          font-size: 18px;
          width: 65%;
          margin: auto;
       }
       }
       }
      }
    }
  }
}

// * -------------------------HOME-------------------------